# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*

# testing
/coverage
/test-results
/playwright-report
/playwright/.cache

# next.js
/.next/
/out/

# production
/build
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env.development
.env.production
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/
.idea/

# Generated OpenAPI types
src/lib/api/generated/schema.d.ts
